// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Yanone+Kaffeesatz');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: $offwhite;
    color: $eggplant;
}

header {
    background: $light-blue;
    margin-bottom: 2em;
}

textarea.form-control {
  height: 10em;
}

.logo-block {
    color: $offwhite;
    font-family: $logo-font-family;
    letter-spacing: .4em;
    padding: 1em 2em;
}

.logo-block i {
    font-size: 2.75em;
}

.logo-block h1 {
    display: inline-block;
    font-size: 3.5em;
}

.logo-block a {
    color: $offwhite;
}

.logo-block a:hover, .logo-block a:active {
    color: $eggplant;
}

.nav {
    margin-left: 2em;
}

.nav-tabs {
    border-bottom: 1px solid $pale-cyan;
}

.nav-tabs .nav-link.active {
    border-bottom: 1px solid $offwhite;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: $offwhite;
    color: $offwhite;
}


.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $eggplant;
  background-color: #E1EFF6;
  border-bottom: 1px solid $offwhite;
}

.list-group a:hover {
    text-decoration: none;
}

h2 {
    border-bottom: 1px solid $pale-cyan;
    font-family: $logo-font-family;
    letter-spacing: .2em;
    margin-bottom: .6em;
    padding-bottom: .3em;
    text-transform: uppercase;
}

.btn-reset {
    margin-left: 1.1em;
}

.footer {
    background-color: $eggplant;
    border-top: 1px solid $light-blue;
    color: $offwhite !important;
    font-size: .9em;
    margin-top: 2em;
    padding: .8em 0 .1em 0;
    text-align: center;
}

.footer a {
    color: $offwhite;
}

.footer a:hover {
    text-decoration: none;
}

.footer i {
    font-size: 1.7em;
    margin-right: .3em;
}

.footer > div a:hover {
    color: $light-blue;
}
